<script>
	window.gameName = "<%= @name %>";
</script>

<html>
<head>
	<meta name="client_p_name" content=<%= @p_name %>
</head>
<body>

	<div class="row">
		<div class="column">
			<h1>Project1 Game: <%= @name %></h1>
			<h2>p1 name!!!!!! <%= @p_name %></h2>
			
			<div id="root">
				React component loading...
			</div>
		</div>
	</div>
</body>
</html>
