<script>
	window.gameName = "<%= @server_name %>";
	window.pName = "<%= @p_name %>";
</script>

	<div class="row">
		<div class="column">
			<h1>Project1 Game: <%= @server_name %></h1>
			<h2>You are: <%= @p_name %></h2>
			<div id="root">
				React component loading...
			</div>
		</div>
	</div>
