<div class="row">
	<div class="column">
		<h1>Project1 Lobby Page</h1>
		<%= form_for @conn, "/join", [as: :join], fn f -> %>
			<p>Enter game server you would like to create or join: <%= text_input f, :server_name %></p>
   		<p>Enter "player1" or "player2"<%= text_input f, :p_name %></p>
      <p><%= submit "Go" %></p>
      <% end %>
	</div>
</div>
